html,body{
    background-color:grey;
}
#chat{
    padding-top: 10px;
    height: 600px;
    max-width: 200 px;
    overflow-y: scroll;
}
.container-chat{
    background-color: yellowgreen;
    padding-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
}
.chat-input{
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: green;
}
.boton-enviar{
    background-color: rgb(2, 90, 2);
    color: white;

}
.boton-enviar:hover{
    background-color: rgb(1, 59, 1);
    color: white;
}